body,
html {
  src: url("../assets/HU The Game.ttf");
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.background-container {
  height: 100%;
  background-image: url("../assets/Login.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.reg-container {
  height: 100%;
  background-image: url("../assets/register.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.logo {
  width: 246px;
  height: 91px;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  align-items: center;
}


.usereg-container {

  height: 100%;
  background-image: url("../assets/USER.png");
  margin-bottom: 2rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.playerreg-container {

  height: 100%;
  margin-bottom: 2rem;
  background-image: url("../assets/label1.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.passwordreg-container {

  height: 100%;
  margin-bottom: 2rem;
  background-image: url("../assets/label2.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.password2-container {

  height: 100%;
  margin-bottom: 2rem;
  background-image: url("../assets/label2.png");
  background-size: cover;
  background-position: center;
  position: relative;
}


.input-field {

  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding-left: 6rem;
  width: 380px;
  height: 75px;
  z-index: 1;
  font-family: Arial, sans-serif;
}

.input-container{
  background-image: url('../assets/label1.png');
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.input-field::placeholder {
  color: #000;
  font-weight: bold;
}

.get-container {
  margin-bottom: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  top: 20vh;
  left: 30vh;
  cursor: pointer;
}
.button-text {
  background-image: url("../assets/button.png");
  font-family: "HU The Game", Arial, sans-serif;
  background-repeat: no-repeat;
  font-size: 25px;
  font-weight: bold;
  color: white;
  z-index: 2;
  height: 75px;
  width: 456.39px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.button-text2 {
  background-image: url("../assets/button.png");
  font-family: "HU The Game", Arial, sans-serif;
  background-repeat: no-repeat;
  font-size: 25px;
  font-weight: bold;
  color: white;
  z-index: 2;
  height: 90px;
  width: 456.39px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}



.register-link {
  margin-bottom:2rem ;
  left: 310px;
  color: #19b5fe;
  text-decoration: none;
  font-size: 13;
}

.register-link:hover {
  text-decoration: underline;
  font-size: 13;
}

.link h3 {
  left: 310px;
  color: white;
  font-weight: normal;
}

.register-link {
  margin-bottom: 2rem;
  color: #19b5fe;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.lobby-container {
  height: 100%;
  background-image: url("../assets/loby.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.logoB {
  position: absolute;
  left: 837px;
  top: 114px;
  width: 245.5px;
  height: 115.81px;
}

.card {
  position: absolute;
}

.card1 {
  top: 303px;
  left: 360px;
}

.card2 {
  top: 303px;
  left: 771px;
}

.card3 {
  top: 306px;
  left: 1182px;
}

.lobby-button {
  position: absolute;
  top: 477px; /* Adjusted relative to card1 */
  left: 95px; /* Adjusted relative to card1 */
  width: 187px;
  height: 54.21px;
  background: white;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.join-container {

  height: 100%;
  background-image: url("../assets/enter.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.join-modal {
  z-index: 1000; /* Sit on top */
  left: 100px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

/* Modal Content */
.join-modal-content {
  background: transparent; /* Make background transparent */
  margin: 15% auto; /* Center the modal */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
  position: relative;
  text-align: center; /* Center the content */
}

/* Text Input */
.join-modal-input {
  color: floralwhite;
  height: 54.21px;
  width: 320px;
  background: transparent;
  background-color: transparent;
  position: absolute;
  font-size: 25px;
  margin-top: 50px;
  top: 34%;
  left: 55%;
  transform: translate(-59%, -59%);
  z-index: 2;
  border: none;
  outline: none;
}

/* Modal Image */
.join-modal-image {
  width: 100%;
  height: auto;
  z-index: 2;
}

/* Button Container */
.join-button-container {
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
  justify-content: space-between;
  width: 400px; /* Adjust width to increase space between buttons */
  z-index: 2; /* Ensure it is above the image */
}

/* Buttons with Background Images */
.join-modal-button {
  background-size: cover;
  width: 187px; /* Adjust the width as needed */
  height: 54.21px; /* Adjust the height as needed */
  cursor: pointer;
  border: none; /* Remove any border */
  margin: 0 10px; /* Optional: add margin between buttons */
}

/* Left Button */
.join-modal-button-left {
  width: 150px;
  height: 35px;
  background-image: url('../assets/buttonj.png');
  background-color: transparent;
}

/* Right Button */
.join-modal-button-right {
  width: 150px;
  height: 35px;
  background-color: transparent;
  background-image: url('../assets/buttonj2.png');
}

/* The Close Button */
.join-close-button {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  background: transparent; /* Remove background */
  border: none; /* Remove border */
}

.join-close-button:hover,
.join-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.quick-container {
  height: 100%;
  background-image: url("../assets/loby.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.loby-container {
  height: 100%;
  background-image: url("../assets/loby.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Modal Background (Opacity) */
.modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

/* Modal Content */
.modal-content {
  background: transparent; /* Make background transparent */
  margin: 15% auto; /* Center the modal */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
  position: relative;
  text-align: center; /* Center the content */
}

/* Modal Image */
.modal-image {
  position: absolute; /* Position absolutely within the .modal-loby container */
  top: 304px; /* Vertical position */
  left: 419px; /* Horizontal position */
  width: 1078px;
  height: auto;
  z-index: 2;
}

/* Specific Modal for Loby */
.loby-container {
  height: 100%;
  background-image: url("../assets/loby.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.modal-loby {
 right: 150px; /* Increase the left value to move the element to the right */
  position: relative; /* This will allow absolute positioning of its children */
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}


/* Modal Content for Loby */
.loby-content {
  background: transparent; /* Transparent background */
  margin: 15% auto; /* Center the modal */
  padding: 20px;
  width: 80%; /* Adjust as needed */
  max-width: 600px;
  position: relative;
  text-align: center;
}

.loby-modal-image {
  top: 1px;
  left: 350px;
  right: 180px;
  width: 2000px;
  z-index: 2;
}
.modal-loby {
  position: relative; /* This will allow absolute positioning of its children */
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

/* Modal Image */
.loby-modal-image {
  position: absolute; /* Position absolutely within the .modal-loby container */
  top: 150px; /* Vertical position */
  left: 590px; /* Horizontal position */
  width: 1078px;
  height: auto;
  z-index: 2;
}

.char-modal-image {
  top: 100px;
  left: 1000px;
  right: 180px;
  width: 500px;
  z-index: 2;
}
.player-list {
  position: absolute; /* Ensure list is positioned appropriately */
  color: #fafafa;
  top: 250px; /* Adjust this based on your layout */
  left: 1000px; /* Adjust this based on your layout */
  z-index: 3;
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  font-size: 25px;
}

.player-list li {
  margin-bottom: 40px;
}

/* Button Container */
.loby-button-container {
  left: 1px;
  position: absolute;
  top: 800px; /* Adjust Y position as needed */
  width: 100%; /* Full width for absolute positioning of buttons */
  z-index: 3; /* Ensure it is above the image */
  background-color: transparent; /* Ensure container background is transparent */
}

/* Buttons with Background Images */
.loby-modal-button {
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
}

.loby-modal-button-leave {
  left: 300px;
  top: 0;
  width: 200px;
  height: 57px;

  background-image: url('../assets/leave.png');
}

.loby-modal-button-ready {
  left: 1495px;
  top: 0;
  width: 200px;
  height: 57px;
  background-image: url('../assets/ready.png');
}
.char-container {
  height: 100%;
  background-image: url("../assets/loby.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.modal-char{

  animation: fadeIn 0.5s ease-in-out forwards; /* Apply fade-in animation */

}
.content {
  position: absolute;
  left: 690px; /* Posisi horizontal */
  top: 500px; /* Posisi vertikal */
  z-index: 3;
  width: auto;
  animation: fadeIn 0.5s ease-in-out forwards; /* Apply fade-in animation */

}

.field-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px; /* Jarak antar baris */
}

label {
  top: 616px;
  left: 10px;
  font-family: "HU The Game", Arial, sans-serif;
  color: #fafafa; /* Warna teks label */
  font-size: 30px;
  width: 400px; /* Lebar label, sesuaikan jika perlu */
}

input2[type="text"], select {
  background: url('../assets/inputt.png') no-repeat center center;
  background-size: cover;
  color: #fff; /* Warna teks putih */
  font-size: 20px;
  height: 40px; /* Sesuaikan dengan tinggi yang diinginkan */
  width: 300px; /* Menambah lebar input field */
  margin-left: 5px; /* Jarak antara label dan input field */
  padding: 0 10px; /* Padding untuk menambah ruang antara teks dan tepi input */
  border: none; /* Menghilangkan border default */
  box-sizing: border-box; /* Pastikan padding tidak menambah lebar keseluruhan */
}

select {
  background-color: #001f3f; /* Background biru untuk dropdown */
  color: #fff; /* Warna teks putih */
  font-size: 20px;
  height: 40px; /* Sesuaikan dengan tinggi yang diinginkan */
  width: 300px; /* Lebar input field */
  margin-left: 5px; /* Jarak antara label dan select field */
  padding: 0 10px; /* Padding untuk menambah ruang antara teks dan tepi select */
}

/* Mengatur warna background dan teks pada setiap opsi */
select option {
  background-color: #2E373A; /* Background biru untuk opsi */
  color: #fff; /* Warna teks putih */
}

/* Button dengan background image */
.go-button {
  background-image: url('../assets/go.png');
  background-color: transparent;
  background-size: cover;
  background-position: center;
  width: 10%; /* Lebar button */
  height: 5%; /* Tinggi button */
  border: none; /* Menghilangkan border default */
  cursor: pointer; /* Pointer cursor saat hover */
  position: absolute;
  left: 1500px; /* Posisi horizontal, sesuaikan jika perlu */
  bottom: 40px; /* Posisi vertikal, sesuaikan jika perlu */
}
.map-container {

  height: 100%;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.grid-cell {
  border: 1px solid #000; /* Garis batas hitam */
  background-color: #e0e0e0; /* Warna latar belakang petak */
}
